* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 10px so it's easier to use rems */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --dark-blue: hsl(198, 62%, 26%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

body {
  background: var(--dark-moderate-cyan);
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
}

h1,
h2,
h3,
a {
  font-family: "Fraunces";
}

/* HEADER */

#page-header {
  background-image: url("/assets/images/mobile/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8rem;
}

h1 {
  color: var(--white);
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
}

#page-header nav {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.2rem;
  padding: 0 1.2rem;
}

#page-header div {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}
